body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.service-card {
  transition: all 0.3s ease-in-out;
  border: none;
  background: #f8f9fa;
}

.service-card:hover {
  background: #0d6efd; /* Bootstrap primary */
  color: #fff;
  transform: translateY(-10px);
}

.service-card:hover .btn {
  background-color: #fff;
  color: #0d6efd;
}

.service-card ul li {
  font-size: 14px;
}
